<div class="fontSizeIcons">
  <div
    class="font-btn"
    [ngClass]="{ selected: selectedFont === 'sm' }"
    (click)="toggleFontIcon('sm')"
    title="Маленький шрифт"
  >
    A−
  </div>
  <div
    class="font-btn"
    [ngClass]="{ selected: selectedFont === 'md' }"
    (click)="toggleFontIcon('md')"
    title="Обычный шрифт"
  >
    A
  </div>
  <div
    class="font-btn"
    [ngClass]="{ selected: selectedFont === 'lg' }"
    (click)="toggleFontIcon('lg')"
    title="Большой шрифт"
  >
    A+
  </div>
</div>
