<p-card header="Kategoriyalar" class="card">
  <ng-template #header>
    <div class="flex w-full justify-end p-4">
      @if (permissions['add_new_category']) {
        <p-button
          (click)="openChild('child1')"
          class="pr-2"
          styleClass="shadow shadow-blue-500/50"
          icon="pi pi-file-plus"
          label="Yangi kategoriya qo'shish"
        />
      }
    </div>
  </ng-template>
  <div class="w-full flex justify-start py-2">
    <div class="flex">
      <p-icon-field iconPosition="right" class="pr-2">
        <p-inputicon class="pi pi-search"></p-inputicon>
        <input
          type="text"
          pInputText
          placeholder="Qidiruv"
          [(ngModel)]="searchValueCategoryModel"
          (input)="loadDataCategoryModel()"
        />
      </p-icon-field>
    </div>
  </div>
  <p-table
    size="small"
    #dataTableBntCmdt
    [value]="categoryModel"
    [(selection)]="categoryModelSelectedList"
    dataKey="id"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 50]"
    loadingIcon="pi pi-spinner"
    [paginator]="true"
    currentPageReportTemplate="{totalPages} ta dan {currentPage}-saxifa, jami {totalRecords} ta dan {first}-{last} gacha"
    [filterDelay]="0"
    (onSort)="onSort($event)"
    [scrollable]="true"
    [totalRecords]="totalRecordsCategoryModel"
    [lazy]="true"
    (onLazyLoad)="pageChange($event)"
    [first]="0"
    [pageLinks]="5"
    [showJumpToPageInput]="true"
    paginatorDropdownAppendTo="body"
    scrollHeight="350px"
    class="p-datatable-gridlines p-datatable-sm text-xs p-datatable-wrapper"
  >
    <ng-template
      pTemplate="body"
      let-category
      let-expanded="expanded">
      <tr style="height:49px">
        <td class="text-xs text-justify cursor-pointer">
           {{ category.code }}
        </td>
        <td class="text-nowrap text-center">
           {{ category.items.length > 0 ? category.items.length : 0 }} ta tovar
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="8" class="text-center">
          маълумотлар топилмади
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  #categoriesDialog
  [(visible)]="showModalCreateCategory"
  header="Header"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw',
   '575px': '90vw' }"
  [maximizable]="true"

>
  <ng-template #header>
    @if (activeChild === 'child1') {
      <ng-container [ngTemplateOutlet]="child1Header"></ng-container>
    }
    @if (activeChild === 'child2') {
      <ng-container [ngTemplateOutlet]="child2Header"></ng-container>
    }
  </ng-template>
  @if (activeChild === 'child1') {
    <app-category-create
      (close)="onClose()"
      (headerReady)="setChildHeader($event)"
    ></app-category-create>
  }
  @if (activeChild === 'child2') {
    <app-category-edit (headerReady)="setChildHeader($event)"></app-category-edit>
  }
</p-dialog>
