<div
  class="h-full flex flex-col transition-all duration-300 border-r bg-zinc-50 dark:bg-gray-950 dark:border-transparent"
  [ngClass]="{'w-72': visible,'w-16': !visible}"
>
  <!-- ⭐ HEADER USER CARD -->
  @if (visible) {
    <div class="px-4 py-4 border-b border-gray-200">
      <div class="flex items-center gap-3">
        <img src="assets/images/photo.png"
             class="w-10 h-10 rounded-full shadow-sm"/>

        <div>
          <div class="text-sm font-semibold text-gray-800">John Doe</div>
          <div class="text-xs text-gray-500">johnexample.com</div>
        </div>
      </div>
    </div>
  } @else {
    <!-- Collapse mode avatar -->
    <div class="px-4 py-4 border-b border-gray-200">
      <img src="assets/images/photo.png"
           class="w-10 h-10 mx-auto rounded-full shadow-sm"/>
    </div>
  }
  <!-- ⭐ EXISTING MENU -->
  <div class="flex-1 overflow-y-auto px-2 py-3">

    <ul class="list-none p-0 m-0 space-y-1">

      @for (menu_data of items; track $index) {
        <li>

          <!-- ================================
               TOP LEVEL LINK
          =================================== -->
          @if (menu_data.type === 'link') {

            <a [routerLink]="menu_data.route"
               [routerLinkActive]="'active-router-link'"
               pRipple
               class="group flex items-center gap-3 p-3 rounded-md cursor-pointer hover:bg-gray-100 transition-colors duration-150">

              <!-- ICON -->
              <i class="{{menu_data.icon}} group-hover:text-gray-700" style="font-size: 1.5rem"
                 [ngClass]="visible ? '' : 'mx-auto'"></i>

              <!-- LABEL -->
              <span class="font-semibold text-sm transition-opacity duration-300 whitespace-nowrap"
                    [class.opacity-0]="!visible"
                    [class.opacity-100]="visible">
                  {{ menu_data.label }}
              </span>

            </a>

          } @else {

            <!-- ================================
                 DROPDOWN PARENT MENU
            =================================== -->
            <a pRipple
               pStyleClass="@next"
               enterFromClass="hidden"
               enterActiveClass="animate-slidedown"
               leaveToClass="hidden"
               leaveActiveClass="animate-slideup"
               class="group flex items-center gap-3 p-3 rounded-md cursor-pointer hover:bg-gray-100 transition-colors">

              <!-- ICON -->
              <i class="{{menu_data.icon}}" style="font-size: 1.5rem"
                 [ngClass]="visible ? '' : 'mx-auto'"></i>

              <!-- LABEL -->
              <span class="font-semibold text-sm transition-opacity duration-300 whitespace-nowrap"
                    [class.opacity-0]="!visible"
                    [class.opacity-100]="visible">
                  {{ menu_data.label }}
              </span>

              <!-- CHEVRON -->
              <i [hidden]="!visible"
                 class="pi pi-chevron-{{ isActiveRoute(menu_data.route) ? 'down' : 'right' }}
                        ml-auto text-gray-500">
              </i>

            </a>

            <!-- ================================
                 LEVEL 1 SUBMENU
            =================================== -->
            <ul
              class="list-none p-0 m-0 hidden transition-all duration-300 overflow-hidden"
              [ngClass]="{'pl-4': visible, 'pl-1': !visible, 'hidden': !isParentActive(menu_data)}">

              @for (menu_data_sub of menu_data.items; track $index) {
                <li>

                  @if (menu_data_sub.type === 'link') {

                    <a [routerLink]="menu_data.route + '/' + menu_data_sub.route"
                       [routerLinkActive]="'active-router-link'"
                       pRipple
                       class="flex items-center gap-3 p-3 rounded-md cursor-pointer hover:bg-gray-100 ml-1">

                      <span class="text-sm font-semibold transition-opacity duration-300 whitespace-nowrap"
                            [class.opacity-0]="!visible"
                            [class.opacity-100]="visible">
                        {{ menu_data_sub.label }}
                      </span>

                    </a>

                  } @else {

                    <!-- CHILD DROPDOWN -->
                    <a pRipple
                       pStyleClass="@next"
                       enterFromClass="hidden"
                       enterActiveClass="animate-slidedown"
                       leaveToClass="hidden"
                       leaveActiveClass="animate-slideup"
                       class="flex items-center gap-3 p-3 rounded-md cursor-pointer
                              text-gray-800 hover:bg-gray-100 ml-1">

                      <span class="text-sm font-semibold transition-opacity duration-300 whitespace-nowrap"
                            [class.opacity-0]="!visible"
                            [class.opacity-100]="visible">
                        {{ menu_data_sub.label }}
                      </span>

                      @if (visible) {
                        <i
                          class="pi pi-chevron-{{ isActiveRoute(menu_data.route + '/' + menu_data_sub.route) ? 'down' : 'right' }} ml-auto text-gray-500"></i>
                      }

                    </a>

                    <!-- LEVEL 2 SUBMENU -->
                    <ul class="list-none pl-3 m-0 hidden transition-all duration-300">

                      @for (menu_data_sub2 of menu_data_sub.items; track $index) {
                        <li>

                          <!-- LINK -->
                          <a [routerLink]="menu_data.route + '/' + menu_data_sub.route + '/' + menu_data_sub2.route"
                             [routerLinkActive]="'active-router-link'"
                             pRipple
                             class="flex items-center gap-3 px-3 py-2 rounded-md cursor-pointer
                                    text-gray-600 hover:bg-gray-100">

                            @if (!visible) {
                              <i class="{{menu_data_sub2.icon}} text-base"></i>
                            }

                            <span class="text-sm font-medium transition-opacity duration-300 whitespace-nowrap"
                                  [class.opacity-0]="!visible"
                                  [class.opacity-100]="visible">
                              {{ menu_data_sub2.label }}
                            </span>

                          </a>

                        </li>
                      }

                    </ul>

                  }

                </li>
              }

            </ul>

          }

        </li>
      }

    </ul>

  </div>
  <!-- ⭐ FOOTER LOGOUT -->
  <hr class="mb-2 mx-4 border-t border-0 border-surface"/>
  <div [ngClass]="visible? 'flex justify-between px-4 py-4' : 'items-center mx-auto'">
    <p-button
      [text]="true" pTooltip="Chiqish" tooltipPosition="top">
      <i class="pi pi-sign-out" style="font-size: 1.5rem"></i>
    </p-button>
    <theme-switcher [toTop]="true" [sidebarVisible]="visible"/>
    <p-button
      [text]="true"
      (onClick)="visible ? visible = false : visible = true">
      <i class="pi pi-bars" style="font-size: 1.5rem"></i>
    </p-button>
  </div>
</div>
