<div
  class="h-full shadow-md transition-all duration-300 ease-in-out rounded-tr-lg bg-white dark:bg-slate-900"
  [ngClass]="{'w-80': visible,'w-16': !visible}">
  <div class="flex flex-col h-full">
    <div class="overflow-y-auto">
      <ul class="list-none p-2 m-0">
        <li>
          <ul class="list-none p-0 m-0 overflow-hidden">
            @for (menu_data of items; track $index) {
              <li>
                @if (menu_data.type === 'link') {
                  <a [routerLink]="menu_data.route" pRipple
                     [routerLinkActive]="'active-router-link'"
                     class="flex items-center cursor-pointer p-3 my-3 rounded-border duration-150 transition-colors p-ripple">
                    <i class="{{menu_data.icon}} pl-1 mr-2" [ngClass]="visible? 'mr-2': 'ml-0'"></i>
                    <span class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                          [class.opacity-0]="!visible"
                          [class.opacity-100]="visible"
                    >{{ menu_data.label }}</span>
                  </a>
                } @else {
                  <a
                    [routerLinkActive]="'active-router-link'"
                    pRipple
                    pStyleClass="@next"
                    enterFromClass="hidden"
                    enterActiveClass="animate-slidedown"
                    leaveToClass="hidden"
                    leaveActiveClass="animate-slideup"
                    class="hover:bg-ruziblue flex items-center cursor-pointer p-3 mb-2 mt-1 rounded-border duration-150 transition-colors p-ripple"
                  >
                    <i class="{{menu_data.icon}} pl-1 mr-2"></i>
                    <span
                      class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                      [class.opacity-0]="!visible"
                      [class.opacity-100]="visible"
                    >
                    {{ menu_data.label }}
                  </span>
                    <i [hidden]="!visible"
                       class="pi pi-chevron-{{ isActiveRoute(menu_data.route) ? 'down' : 'right' }} ml-auto"></i>
                  </a>
                  <ul
                    class="list-none py-0 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                    [ngClass]="{'pl-2': visible, '-pl-2': !visible, 'hidden': !isParentActive(menu_data)}"
                  >
                    @for (menu_data_sub of menu_data.items; track $index; let i = $index) {
                      <li>
                        @if (menu_data_sub.type === 'link') {
                          <a
                            [routerLink]="menu_data.route + '/' + menu_data_sub.route"
                            [routerLinkActive]="'active-router-link'"
                            pRipple
                            class="hover:bg-ruziblue flex items-center cursor-pointer p-3 mb-2 mt-1 rounded-border duration-150 transition-colors p-ripple">
                            <i
                              class="{{menu_data_sub.icon}} pl-1 mr-2"
                              [ngClass]="visible? 'mr-2': 'mr-0'"
                            ></i>
                            <span
                              class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                              [class.opacity-0]="!visible"
                              [class.opacity-100]="visible"
                            >
                            {{ menu_data_sub.label }}
                          </span>
                          </a>
                        } @else {
                          <a
                            [routerLinkActive]="'active-router-link'"
                            pRipple
                            pStyleClass="@next"
                            enterFromClass="hidden"
                            enterActiveClass="animate-slidedown"
                            leaveToClass="hidden"
                            leaveActiveClass="animate-slideup"
                            class="hover:bg-ruziblue flex items-center cursor-pointer p-3 mb-2 mt-1 rounded-border duration-150 transition-colors p-ripple">
                            <i class="{{menu_data_sub.icon}} pl-1 mr-2" [ngClass]="visible? 'mr-2': 'ml-0'"></i>
                            <span class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                                  [class.opacity-0]="!visible"
                                  [class.opacity-100]="visible"
                            >{{ menu_data_sub.label }}</span>
                            <i
                              class="pi pi-chevron-{{ isActiveRoute(menu_data.route + '/' + menu_data_sub.route) ? 'down' : 'right' }} ml-auto"></i>
                          </a>
                          <ul
                            class="list-none py-0 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                            [ngClass]="visible? 'pl-2': 'pl-0'"
                          >
                            @for (menu_data_sub2 of menu_data_sub.items; track $index; let i = $index) {
                              <li>
                                @if (menu_data_sub2.type === 'link') {
                                  <a
                                    pRipple
                                    [routerLink]="menu_data.route + '/' + menu_data_sub.route + '/' + menu_data_sub2.route"
                                    [routerLinkActive]="'active-router-link'"
                                    class="hover:bg-ruziblue flex items-center cursor-pointer p-3 mb-2 mt-1 rounded-border duration-150 transition-colors p-ripple">
                                    @if (!visible) {
                                      <i class="{{menu_data_sub2.icon}} pl-1 mr-2 ml-0" style="font-size: 1rem"></i>
                                    }
                                    <span
                                      class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                                      [class.opacity-0]="!visible"
                                      [class.opacity-100]="visible"
                                    >{{ menu_data_sub2.label }}</span>
                                  </a>
                                } @else {
                                  <a
                                    [routerLinkActive]="'active-router-link'"
                                    pRipple
                                    pStyleClass="@next"
                                    enterFromClass="hidden"
                                    enterActiveClass="animate-slidedown"
                                    leaveToClass="hidden"
                                    leaveActiveClass="animate-slideup"
                                    class="hover:bg-ruziblue flex items-center cursor-pointer p-3 mb-2 mt-1 rounded-border duration-150 transition-colors p-ripple">
                                    <i class="{{menu_data_sub2.icon}} pl-1 mr-2"
                                       [ngClass]="visible? 'mr-2': 'ml-0'"></i>
                                    <span
                                      class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                                      [class.opacity-0]="!visible"
                                      [class.opacity-100]="visible">{{ menu_data_sub2.label }}</span>
                                    <i
                                      class="pi pi-chevron-{{ isActiveRoute(menu_data.route + '/' + menu_data_sub.route + '/' + menu_data_sub2.route) ? 'down' : 'right' }} ml-auto"></i>
                                  </a>
                                  <ul
                                    class="list-none py-0 pl-2 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                    @for (menu_data_sub3 of menu_data_sub2.items; track $index; let i = $index) {
                                      <li>
                                        <a
                                          pRipple
                                          [routerLink]="menu_data.route + '/' + menu_data_sub.route + '/' + menu_data_sub2.route+ '/' + menu_data_sub3.route"
                                          [routerLinkActive]="'active-router-link'"
                                          class="hover:bg-ruziblue hover:text-white flex items-center cursor-pointer p-3 my-3 rounded-border duration-150 transition-colors p-ripple">
                                          <i class="{{menu_data_sub3.icon}} pl-1 mr-2"
                                             [ngClass]="visible? 'mr-2': 'ml-0'"></i>
                                          <span
                                            class="font-medium transition-opacity duration-500 whitespace-nowrap inline-block"
                                            [class.opacity-0]="!visible"
                                            [class.opacity-100]="visible">{{ menu_data_sub3.label }}</span>
                                        </a>
                                      </li>
                                    }
                                  </ul>
                                }
                              </li>
                            }
                          </ul>
                        }
                      </li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>



