.border-bottom {
  border-bottom: 1px dashed var(--border-color);
}

.no-border {
  border-bottom: none;
}

.active-router-link {
  background: color-mix(in srgb, var(--p-primary-color), transparent 80%);
  border-radius: 5px;
  color: var(--body-text-color) !important;
  transition: all 0.3s ease-in-out;

  .pi {
    color: var(--body-text-color) !important;
    transition: 0.2s ease-in;
    padding-left: 4px;
  }
}

.active-router-link-leave {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  from {
    border-radius: 5px;
    background: var(--p-primary-color);
  }
  to {
    border-radius: 0;
    background: transparent;
  }
}

.active-parent-link {
  background: color-mix(in srgb, var(--p-primary-color), transparent 80%);
  border-radius: 5px;
  color: var(--body-text-color) !important;
  transition: all 0.3s ease-in-out;

  .pi {
    color: var(--body-text-color) !important;
    transition: 0.2s ease-in;
    padding-left: 4px;
  }
}


/**********************/

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px; /* icon va text orasidagi masofa */
}

.logo-icon {
  width: 40px;
  height: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: baseline; /* RUZI va SAVDO balandligi uyg‘un chiqishi uchun */
}

/* RUZI */
.logo .ruzi {
  color: #ffffff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6), 0 0 12px #00d4ff;
}

/* Dash */
.logo .dash {
  color: #aaa;
}

/* SAVDO */
.logo .savdo {
  color: #ef4444;
  font-size: 1rem; /* RUZI dan kichikroq */
  font-weight: 700; /* ozgina yupqaroq */
  margin-left: 4px; /* RUZI va SAVDO orasiga joy */
}


a {
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: var(--link-hover-bg);
  }
}

::ng-deep .custom-sidebar-menu {
  width: 250px; /* Sidebar kengligi */
  height: 100vh; /* Ekran bo‘yi */
  position: fixed; /* Chap tomonga yopishtiramiz */
  top: 0;
  left: 0;
  border-right: 1px solid #ddd;
  background: #fff;
  overflow-y: auto; /* Scroll bo‘lishi uchun */
  z-index: 1000;
}

.active-link {
  @apply bg-blue-50 border-l-4 border-blue-600 text-blue-700 font-semibold;
}
