/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html, body {
  height: 100%;
}

:root {
  --link-color: var(--p-primary-600);
  --link-hover-color: var(--p-primary-700);
  --link-hover-bg: color-mix(in srgb, var(--p-primary-600), transparent 85%);
  --p-surface-hover: color-mix(in srgb, var(--p-surface-200), transparent 60%);

  --body-bg: var(--p-surface-50);
  --body-text-color: var(--p-surface-900);
  --card-border: 1px solid var(--border-color);
  --card-bg: var(--p-surface-0);
  --border-color: var(--p-surface-200);
  --text-color: var(--p-surface-700);
  --overlay-background: #ffffff;
}

:root[class='p-dark'] {
  --link-color: var(--p-primary-400);
  --link-hover-color: var(--p-primary-300);
  --link-hover-bg: color-mix(in srgb, var(--p-primary-400), transparent 80%);
  --p-surface-hover: color-mix(in srgb, var(--p-surface-700), transparent 40%);


  --body-bg: var(--p-surface-950);
  --body-text-color: var(--p-surface-50);
  --card-border: 1px solid transparent;
  --card-bg: var(--p-surface-900);
  --border-color: rgba(255, 255, 255, 0.1);
  --text-color: var(--p-surface-0);
  --overlay-background: var(--p-surface-900);
}

body {
  padding: 0 !important;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: var(--body-text-color);
}

.card {box-shadow: none !important;}

