.translate-y-full {
  transform: translateY(100%);
}

.translate-y-0 {
  transform: translateY(0);
}

.barcode-glow {
  animation: barcodeFlash 0.6s ease-out;
  border: 2px solid #22c55e !important; /* green-500 */
  box-shadow: 0 0 12px #22c55e80 !important;
}

@keyframes barcodeFlash {
  0% {
    border-color: #22c55e;
    box-shadow: 0 0 14px #22c55e80;
  }
  100% {
    border-color: transparent;
    box-shadow: none;
  }
}
