<p-card class="card">
  <ng-template #header>
    <p class="text-3xl font-bold px-4 pt-2">Tovarlar</p>
  </ng-template>
  @if (itemModel.length === 0 && !searchValue) {
    <div
      class="relative flex flex-col items-center justify-center border rounded px-20 py-24 text-center transition-all duration-200 mt-0"
    >
      <img ngSrc="assets/images/icons/items.gif" width="200" height="200" alt="icon"/>
      <!--      <i class="pi pi-tags mb-3 text-gray-500" style="font-size: 4rem;"></i>-->
      <p class="text-2xl font-bold">
        Tovarlar to'plami
      </p>
      <span class="text-sm max-w-3xl">Mahsulotlar kutubxonasi yordamida sotadigan narsalaringizni tartiblang. To'lovni tezlashtirish, savdo hisobotlarini ko'rish va inventarizatsiyani kuzatish uchun mahsulotlar yarating. Import qilingan mahsulotlarni yaratish va yangilash uchun shablonimizni yuklab oling..</span>
      <div class="flex justify-between">
        <p-button
          *kaHasRoles="['ROLE_ITEM_CREATE']"
          [outlined]="true"
          class="p-2"
          styleClass="shadow shadow-blue-500/50"
          (click)="showModalImportItem = true"
        >
          <ng-template pTemplate="content">
            <img ngSrc="assets/images/icons/excel.svg" width="28" height="28" alt="icon"/>
          </ng-template>
        </p-button>
        <p-button
          *kaHasRoles="['ROLE_ITEM_CREATE']"
          class="p-2"
          styleClass="shadow shadow-blue-500/50"
          icon="pi pi-file-excel"
          label="Yangi tovar qo'shish"
          (onClick)="dialog.maximize();"
          (click)="showItemModal = true"
        />
      </div>
    </div>
    <p class="text-md font-bold p-4">Tezkor tovar kiritish</p>
    <div class="flex items-center justify-between gap-2">
      <input
        pInputText
        placeholder="Mahsulot nomi"
        [(ngModel)]="newItem.name"
      />
      <div class="flex items-center gap-2">
        <p-inputNumber
          [(ngModel)]="newItem.price"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="Narxi"
        ></p-inputNumber>
        <p-button
          icon="pi pi-save"
          label="Saqlash"
          (click)="saveNewItem()"
        ></p-button>
      </div>
    </div>
    <p-divider></p-divider>
  } @else {
    <div class="flex w-full justify-between gap-2 p-4 pb-0">
      <p-icon-field iconPosition="right" class="pr-2">
        <p-inputicon class="pi pi-search"></p-inputicon>
        <input
          type="text"
          pInputText
          placeholder="Qidiruv"
          [(ngModel)]="searchValue"
          (input)="loadData()"
        />
      </p-icon-field>

      <p-menu #menu [model]="getExcelBtnAction()" [popup]="true" appendTo="body" styleClass="rounded-lg shadow-xl">
        <ng-template pTemplate="item" let-item>
          <a
            pRipple
            class="flex items-center px-3 p-4 min-w-[250px] rounded-md transition-colors duration-150 cursor-pointer"
            [ngClass]="item.styleClass"
            (click)="item.command?.($event)"
          >
            <i [class]="item.icon + ' mr-2'"></i>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
      <p-button
        *kaHasRoles="['ROLE_ITEM_CREATE']"
        (click)="toggleMenu($event, menu)"
        label="Amallar"
        [icon]="menuVisible ? 'pi pi-chevron-down' : 'pi pi-chevron-up'"
        iconPos="right"
        severity="secondary"
        class="ml-auto pr-2 rounded-md"
      ></p-button>
      <p-button
        *kaHasRoles="['ROLE_ITEM_CREATE']"
        class="pr-2"
        styleClass="shadow shadow-blue-500/50"
        icon="pi pi-file-plus"
        label="Yangi tovar qo'shish"
        (onClick)="dialog.maximize()"
        (click)="showItemModal = true"
      />
    </div>
    <p-table
      size="small"
      #dataTableItem
      [value]="itemModel"
      [(selection)]="itemSelectedModel"
      (selectionChange)="onTableSelectionChange($event)"
      dataKey="id"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      loadingIcon="pi pi-spinner"
      [paginator]="true"
      currentPageReportTemplate="{totalPages} ta dan {currentPage}-saxifa, jami {totalRecords} ta dan {first}-{last} gacha"
      [filterDelay]="0"
      [scrollable]="true"
      [totalRecords]="totalRecords"
      [lazy]="true"
      (onLazyLoad)="pageChange($event)"
      [first]="0"
      [pageLinks]="5"
      [showJumpToPageInput]="true"
      scrollHeight="80vh"
    >
      <ng-template pTemplate="header">
        <tr class="border shadow h-[60px]">
          <th style="width: 4rem">
            <p-tableHeaderCheckbox/>
          </th>

          <th class="text-nowrap sort-header" pFrozenColumn alignFrozen="left">№</th>

          <th class="text-center text-nowrap sort-header">
            Rasmi
          </th>

          <th class="text-center text-nowrap sort-header">
            SKU Code
          </th>

          <th class="text-center text-nowrap sort-header">
            Shtrix kod
          </th>

          <th class="text-center text-nowrap sort-header">
            Mahsulot nomi
          </th>

          <th class="text-center text-nowrap sort-header">
            Brend
          </th>

          <th class="text-center text-nowrap sort-header">
            Kategoriya
          </th>

          <th class="text-center text-nowrap sort-header">
            O‘lchov birligi
          </th>

          <th class="text-center text-nowrap sort-header">
            Sotuv narxi
          </th>

          <th class="text-center text-nowrap sort-header">
            Izoh
          </th>

          <th class="text-center text-nowrap sort-header">
            Holati
          </th>

          <th class="text-center text-nowrap sort-header"></th>
        </tr>
        <tr>
          <th colspan="13">
            <div class="flex w-full items-center justify-start gap-2">
              @if (isAdding) {
                <div class="flex items-center gap-2">
                  <input
                    pInputText
                    placeholder="Mahsulot nomi"
                    [(ngModel)]="newItem.name"
                    class="flex-1"
                  />
                  <p-inputNumber
                    [(ngModel)]="newItem.price"
                    mode="decimal"
                    [minFractionDigits]="2"
                    [maxFractionDigits]="2"
                    placeholder="Narxi"
                    class="w-[150px]"
                  ></p-inputNumber>
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="saveNewItem()"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-text p-button-danger"
                    (click)="cancelAddRow()"
                  ></button>
                </div>
              } @else {
                <p-button
                  size="small"
                  [outlined]="true"
                  label="＋ Tezkor kiritish"
                  (click)="startAddRow()"
                ></p-button>
              }
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="row"/>
          </td>
          <td class="text-nowrap text-center">
            {{ i + 1 }}
          </td>
          <td>
            <div class="md:w-10 h-10 w-10 relative">
              <img
                ngSrc="{{ imagePathPrefix + row.primaryImageUrl }}"
                fill
                appImageFallback="assets/images/image.png"
                decoding="async"
                class="object-cover rounded-md"
                alt=""/>
            </div>
          </td>
          <td class="text-nowrap text-center">{{ row.skuCode }}</td>
          <td class="text-nowrap text-center">{{ row.barcode }}</td>
          <td class="text-nowrap text-center">{{ row.name }}</td>
          <td class="text-nowrap text-center">{{ row.brand }}</td>
          <td class="text-nowrap text-center">{{ row.category }}</td>
          <td class="text-nowrap text-center">{{ row.unit }}</td>
          <td class="text-nowrap text-center">{{ row.defaultSalePrice | number:'1.2-2' }}</td>
          <td class="text-nowrap text-center">{{ row.description }}</td>
          <td class="text-nowrap text-center">
            <p-tag [value]="row.isActive ? 'Faol' : 'Nofaol'" [severity]="row.isActive ? 'success' : 'danger'"></p-tag>
          </td>

          <td pFrozenColumn alignFrozen="right" class="text-center">

            <p-menu #actionTable [model]="getRowActions(row)" appendTo="body" [popup]="true">
              <ng-template pTemplate="item" let-item>
                <a
                  pRipple
                  class="flex items-center px-3 p-2 min-w-[250px] rounded-md transition-colors duration-150 cursor-pointer"
                  [ngClass]="item.styleClass"
                  (click)="item.command?.($event)"
                >
                  <i [class]="item.icon + ' mr-2'"></i>
                  <span>{{ item.label }}</span>
                </a>
              </ng-template>
            </p-menu>
            <p-button [text]="true" (click)="actionTable.toggle($event)" icon="pi pi-ellipsis-h"/>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="12  " class="mx-auto">
            <div class="flex flex-col items-center justify-center p-6 text-gray-500">
              <i class="pi pi-info-circle text-3xl mb-2"></i>
              <span>Mahsulotlar topilmadi</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-card>

<p-dialog
  (onHide)="onModalClose()"
  (onShow)="onDialogShown()"
  [(visible)]="showItemModal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [maximizable]="true"
  [dismissableMask]="true"
  [style]="{ minWidth: '50rem'}"
  #dialog
  [baseZIndex]="10000">
  <ng-template #header>
    <div class="grid grid-cols-[auto,1fr,auto] items-center gap-3 w-full">

      <!-- Chap: Saqlash -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="contents">
        <p-button type="submit" label="Saqlash" severity="primary"></p-button>
      </form>

      <!-- Markaz: Sarlavha -->
      <div class="justify-self-center text-center">
        <span class="text-3xl font-bold">
          {{ editingId ? 'Tovarni tahrirlash' : 'Yangi tovar qo‘shish' }}
        </span>
      </div>

      <!-- O'ng: Checkbox -->
      <div class="justify-self-end flex items-center gap-2 ml-2">
        <p-multiSelect
          [options]="actions"
          [(ngModel)]="selectedActions"
          optionLabel="name"
          placeholder="Amallar"
          [filter]="false"
          (onChange)="onActionsChange()"
          [maxSelectedLabels]="2" class="w-full md:w-80"/>
      </div>

    </div>
  </ng-template>

  <p-scrollPanel [style]="{ width: '100%', height: '90vh' }">
    <div class="flex w-full max-w-4xl mx-auto my-4">
      <p class="font-bold text-xl">Tovar tavsifi</p>
    </div>
    <div class="grid grid-cols-3 gap-6 max-w-4xl mx-auto">
      <form class="col-span-2 flex flex-col gap-5" [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- 🏷️ Mahsulot turi --
        <p-floatlabel variant="in">
          <p-select
            id="itemType" inputId="itemType" [options]="itemTypeOption"
            optionLabel="label" class="w-full" variant="filled" [showClear]="true">
            <ng-template #selectedItem let-selectedOption>
              @if (selectedOption) {
                <div class="flex items-center gap-2">
                  <img src="assets/images/icons/{{selectedOption.icon}}" style="width: 24px"/>
                  <div>{{ selectedOption.label }}</div>
                </div>
              }
            </ng-template>
            <ng-template let-opt #item>
              <div class="flex items-center gap-2">
                <img src="assets/images/icons/{{opt.icon}}" style="width: 18px"/>
                <div>{{ opt.label }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="itemType">Tovar turi</label>
        </p-floatlabel>-->

        <div class="col-span-1">
          <p-floatlabel variant="in">
            <input
              pInputText
              formControlName="name"
              class="w-full"
              [ngClass]="{'ng-dirty ng-invalid': form.controls['name'].invalid && formCreateItemSubmit}"
            />
            <label>Nomi</label>
          </p-floatlabel>
          @if (form.get('name')?.hasError('apiError')) {
            <small class="pl-2 py-0 my-0 p-error text-red-900">
              {{ form.get('name')?.getError('apiError') }}
            </small>
          }
        </div>

        <!-- 🏷️ Mahsulot kodi -->
        <!-- 💰 Narx -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 w-full">
          <div class="w-full">
            <div class="relative w-full">
              <p-floatlabel variant="in" class="block w-full">
                <input
                  pInputText
                  formControlName="code"
                  id="code"
                  class="w-full"
                  [ngClass]="{'ng-dirty ng-invalid': form.controls['code'].invalid && formCreateItemSubmit}"
                />
                <label for="code">Mahsulot kodi</label>
              </p-floatlabel>
              @if (form.get('code')?.hasError('apiError')) {
                <small class="pl-2 py-0 my-0 p-error text-red-900">
                  {{ form.get('code')?.getError('apiError') }}
                </small>
              }
            </div>
          </div>
          <div class="w-full">
            <div class="relative w-full">
              <p-floatlabel variant="in" class="block w-full">
                <p-input-number
                  mode="currency"
                  id="price"
                  formControlName="price"
                  currency="UZS"
                  class="w-full"
                  [ngClass]="{'ng-dirty ng-invalid': form.controls['price'].invalid && formCreateItemSubmit}"
                ></p-input-number>
                <label for="price">Narxi</label>
              </p-floatlabel>
              @if (form.get('price')?.hasError('apiError')) {
                <small class="pl-2 py-0 my-0 p-error text-red-900">
                  {{ form.get('price')?.getError('apiError') }}
                </small>
              }
            </div>
          </div>
        </div>

        <!-- 📄 Tavsif -->
        <div class="col-span-2">
          <p-floatlabel variant="in">
            <textarea
              pInputText id="description" formControlName="description" class="w-full"
              autocomplete="off"
              [ngClass]="{'ng-dirty ng-invalid': form.controls['description'].invalid && formCreateItemSubmit}"
            ></textarea>
            <label for="description">Tavsif</label>
          </p-floatlabel>
          @if (form.get('description')?.hasError('apiError')) {
            <small class="pl-2 py-0 my-0 p-error text-red-900">
              {{ form.get('description')?.getError('apiError') }}
            </small>
          }
        </div>

        <!-- 🖼️ Rasm URL -->
        <div class="col-span-2">
          <div
            [ngClass]="{'ng-dirty ng-invalid': form.controls['primaryImageUrl'].invalid && formCreateItemSubmit}"
            class="w-full mx-auto items-center gap-2 justify-center border border-dashed rounded-xl p-6 text-center hover:bg-gray-50 transition">
            <div class="w-full grid grid-rows-2">
              <i class="pi pi-image"></i>
              <p class="text-sm">Tovar rasmni bu yerga olib keling, <a
                class="text-blue-600 cursor-pointer hover:underline">fayllarni
                oching</a> yoki
                <br>
                <a (click)="openSelectImage()" class="text-blue-600 cursor-pointer hover:underline">mavjud rasmlar
                  to'plamidan tanlang</a>.
              </p>
            </div>
            @if ((selectedImages.length > 0) && !showModalSelectImage) {
              <div
                class="mt-2 mx-auto relative w-28 h-28 rounded-lg overflow-hidden border group shadow-sm hover:shadow-md transition-all duration-200 bg-gray-50"
              >
                <img
                  ngSrc="{{ imagePathPrefix + selectedImages[0].parentId + '/' + selectedImages[0].docName }}"
                  fill
                  alt="{{ selectedImages[0].docName }}"
                  decoding="async"
                  class="p-2 object-cover w-full h-full transition-transform duration-200 group-hover:scale-105"
                />

                <div
                  class="absolute inset-0 flex items-center justify-center gap-3 opacity-0 group-hover:opacity-100 transition-all duration-200 bg-black/40">
                  <button
                    type="button"
                    class="border border-red-500 text-red-500 rounded-full w-10 h-10 flex items-center justify-center
                 hover:bg-red-500 hover:text-white transition-colors duration-150"
                    (click)="$event.stopPropagation(); selectedImages = []"
                    pTooltip="O‘chirish"
                    tooltipPosition="top"
                  >
                    <i class="pi pi-trash text-lg"></i>
                  </button>
                </div>

              </div>
              <div
                class="text-md text-center py-1 truncate group-hover:bg-white/0"
                title="{{ selectedImages[0].docName }}"
              >
                {{ selectedImages[0].docName }}
              </div>
            }
          </div>
          @if (form.get('primaryImageUrl')?.hasError('apiError')) {
            <small class="pl-2 py-0 my-0 p-error text-red-900">
              {{ form.get('primaryImageUrl')?.getError('apiError') }}
            </small>
          }
        </div>

        <!-- 🏷️ SKU kodi -->
        <div class="col-span-1">
          <p-floatlabel variant="in">
            <label>SKU kodi</label>
            <input pInputText formControlName="skuCode" class="w-full"
                   [ngClass]="{'ng-dirty ng-invalid': form.controls['skuCode'].invalid && formCreateItemSubmit}"
            />
          </p-floatlabel>
          @if (form.get('skuCode')?.hasError('apiError')) {
            <small class="pl-2 py-0 my-0 p-error text-red-900">
              {{ form.get('skuCode')?.getError('apiError') }}
            </small>
          }
        </div>

        <!-- 🔢 Barcode -->
        <!-- ⚖️ Birlik -->
        <div class="flex items-start gap-3 w-full">
          <div class="flex-1 min-h-[90px] flex flex-col justify-start">
            <div class="flex items-center gap-2 mb-3">
              <span
                class="w-3 h-3 rounded-full"
                [ngClass]="scannerIsActive ? 'bg-green-500' : 'bg-red-500'">
              </span>
              <span class="text-sm">
                {{ scannerIsActive ? 'Skaner faol' : 'Skaner o‘chgan' }}
              </span>
            </div>

            <p-floatlabel variant="in" class="w-full">
              <input
                pInputText
                formControlName="barcode"
                id="barcode"
                class="w-full"
                [ngClass]="{
                  'barcode-glow': barcodeGlow,
                  'ng-dirty ng-invalid': form.controls['barcode'].invalid && formCreateItemSubmit
                }"
              />
              <label for="barcode">Shtrix-kod</label>
            </p-floatlabel>
            @if (form.get('barcode')?.hasError('apiError')) {
              <small class="pl-2 text-red-600 text-xs">
                {{ form.get('barcode')?.getError('apiError') }}
              </small>
            } @else {
              <small class="invisible pl-2 text-xs">placeholder</small>
            }
          </div>

          <div class="w-52 min-h-[90px] flex flex-col justify-start">
            <p-floatlabel variant="in" class="w-full">
              <p-select
                dropdownIcon="pi pi-list"
                [options]="unitOptions"
                optionLabel="name"
                optionValue="code"
                formControlName="unit"
                id="itemType"
                class="w-full"
                [ngClass]="{
                  'ng-dirty ng-invalid': form.controls['unit'].invalid && formCreateItemSubmit
                }"
              ></p-select>
              <label for="itemType">O'lchov birligi</label>
            </p-floatlabel>
            @if (form.get('unit')?.hasError('apiError')) {
              <small class="pl-2 text-red-600 text-xs">
                {{ form.get('unit')?.getError('apiError') }}
              </small>
            } @else {
              <small class="invisible pl-2 text-xs">placeholder</small>
            }
          </div>
        </div>


        <!-- 🏭 Brend -->
        <div class="col-span-1">
          <p-floatlabel variant="in">
            <label>Brend</label>
            <input
              pInputText
              formControlName="brand"
              class="w-full"
              [ngClass]="{'ng-dirty ng-invalid': form.controls['brand'].invalid && formCreateItemSubmit}"
            />
          </p-floatlabel>
          @if (form.get('brand')?.hasError('apiError')) {
            <small class="pl-2 py-0 my-0 p-error text-red-900">
              {{ form.get('brand')?.getError('apiError') }}
            </small>
          }
        </div>

      </form>
      <div class="col-span-1 flex flex-col gap-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Categories -->
          <p-panel header="Kategoriyasi">
            <p class="flex gap-2 text-xs mb-3">
              Tovar kategoriyalari mavjud bo'lmasa
              <a routerLink="/items/category" target="_blank" pButton>
                <span pButtonLabel>qo'shish</span>
              </a>
            </p>

            <p-select
              inputId="itemType"
              formControlName="categoryId"
              [options]="categoryOptions"
              optionLabel="code"
              optionValue="id"
              class="w-full"
              variant="filled"
              [filter]="true"
              filterBy="code"
              [checkmark]="true"
              [ngClass]="{
                'ng-dirty ng-invalid': form.controls['categoryId'].invalid && formCreateItemSubmit
              }"
            >
              <!-- ✅ Tanlangan qiymat -->
              <ng-template #selectedItem let-selectedOption>
                @if (selectedOption) {
                  <div class="flex items-center gap-3">
                    <div class="relative w-10 h-10 flex-shrink-0">
                      <img
                        ngSrc="{{ imagePathPrefix + selectedOption.primaryImageUrl }}"
                        fill
                        appImageFallback="assets/images/image.png"
                        decoding="async"
                        class="rounded-md object-cover border border-gray-200"
                        alt=""/>
                    </div>
                    <div class="text-sm font-medium truncate">
                      {{ selectedOption.code }}
                    </div>
                  </div>
                }
              </ng-template>

              <!-- ✅ Dropdown elementlari -->
              <ng-template #item let-opt>
                <div class="flex items-center gap-3 p-1 w-full border-b border-dashed border-blue-500">
                  <div class="relative w-10 h-10 flex-shrink-0">
                    <img
                      ngSrc="{{ imagePathPrefix + opt.primaryImageUrl }}"
                      fill
                      appImageFallback="assets/images/image.png"
                      decoding="async"
                      class="rounded-md object-cover border border-gray-200"
                      alt=""/>
                  </div>
                  <div class="text-sm text-gray-700 font-medium truncate">
                    {{ opt.code }}
                  </div>
                </div>
              </ng-template>
            </p-select>

            @if (form.get('categoryId')?.hasError('apiError')) {
              <small class="pl-2 py-0 my-0 p-error text-red-900">
                {{ form.get('categoryId')?.getError('apiError') }}
              </small>
            }
          </p-panel>
          <p-divider></p-divider>
          <!-- Status -->
          <p-panel header="Status">
            <div class="col-span-1">
              <p-selectButton
                [options]="activeOptions"
                formControlName="isActive"
                optionLabel="label"
                optionValue="value"
                [ngClass]="{'ng-dirty ng-invalid': form.controls['isActive'].invalid && formCreateItemSubmit}"
              ></p-selectButton>
            </div>
            @if (form.get('isActive')?.hasError('apiError')) {
              <small class="pl-2 py-0 my-0 p-error text-red-900">
                {{ form.get('isActive')?.getError('apiError') }}
              </small>
            }
          </p-panel>
        </form>
        <p-divider></p-divider>
        <!-- (Optional) Preview -->
        <p-panel header="Rasm korinishi">
          <div class="relative rounded-md p-3 flex items-center justify-center h-32">
            @if (form.value?.primaryImageUrl) {
              <img
                ngSrc="{{ imagePathPrefix + form.value?.primaryImageUrl }}"
                fill
                class="max-h-28 object-contain"
                alt=""/>
            } @else {
              <span class="text-sm">Rasm topilmadi</span>
            }
          </div>
        </p-panel>
      </div>
    </div>
  </p-scrollPanel>
</p-dialog>
<p-dialog
  [(visible)]="showModalSelectImage"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '40rem', minHeight: '40rem'}"
  [baseZIndex]="1100"
>
  <ng-template #header>
    <div class="w-full flex justify-between">
      <span class="text-2xl font-bold">Rasmlar to'plami</span>
      <p-button type="button" icon="pi pi-times" [variant]="'outlined'" [rounded]="true"
                (click)="showModalSelectImage = false" (onClick)="selectedImages = []" pRipple></p-button>
    </div>
  </ng-template>
  <div class="flex items-center justify-between w-full mt-0 pt-0">
    @if (imagesList.length > 0) {
      <div class="flex items-center gap-2">
        <span class="p-input-icon-left">
          <input
            type="search"
            pInputText
            [(ngModel)]="searchQuery"
            placeholder="Qidiruv..."
            (input)="applyFilters()"
          />
        </span>
        <p-select
          [options]="sortOptions"
          [(ngModel)]="selectedSort"
          placeholder="Saralash..."
          optionLabel="label"
          class="w-40"
          (onChange)="applyFilters()"
        ></p-select>
      </div>
    }
  </div>
  @if (isLoadingImage) {
    <div
      class="absolute inset-0 flex flex-col items-center justify-center"
    >
      <p-progressSpinner></p-progressSpinner>
    </div>
  } @else if (imagesList.length == 0) {
    <div
      class="flex items-center justify-center w-full h-[calc(100%-3rem)]"
    >
      <div class="flex flex-col items-center justify-center gap-3 text-center">
        <i class="pi pi-images" style="font-size: 3rem"></i>
        <span class="font-bold text-2xl text-gray-700">Rasmlar to'plami bo'sh</span>
        <a routerLink="/items/image" pButton target="_blank">
          <span pButtonLabel>Rasm qo'shish</span>
        </a>
      </div>
    </div>
  } @else {
    <p-scrollPanel [style]="{ width: '100%', height: '60vh' }">
      <div class="mt-6 flex flex-wrap gap-6">
        @for (img of filteredImages; track img.id) {
          <div
            class="relative w-28 h-28 rounded-lg overflow-hidden border group shadow-sm hover:shadow-md transition-all duration-200 bg-gray-50"
            (click)="toggleSelection(img)"
          >
            <div
              class="absolute top-0 left-0 z-10 bg-white/90 rounded-md p-1 shadow-sm cursor-pointer"
              (click)="$event.stopPropagation(); toggleSelection(img)"
            >
              <p-checkbox
                binary="true"
                [ngModel]="isSelected(img)"
                [style]="{ transform: 'scale(0.9)' }"
              ></p-checkbox>
            </div>

            <img
              ngSrc="{{ imagePathPrefix + img.parentId + '/' + img.docName }}"
              fill
              alt="{{ img.docName }}"
              decoding="async"
              class="p-2 object-cover w-full h-full transition-transform duration-200 group-hover:scale-105"
            />

            <div
              class="absolute bottom-0 left-0 w-full bg-black/70 text-white text-md text-center py-1 truncate group-hover:bg-white/0"
              title="{{ img.docName }}"
            >
              {{ img.docName }}
            </div>

            @if (isSelected(img)) {
              <div class="absolute inset-0 border-4 border-sky-500 rounded-lg pointer-events-none"></div>
            }
          </div>
        }
      </div>
    </p-scrollPanel>
    <ng-template #footer
    >
      <div class="w-full flex items-center justify-between border-t-2">
        <p-button label="Tanlash" class="pt-2" [disabled]="!(selectedImages.length > 0)"
                  (onClick)="showModalSelectImage = false"/>
      </div>
    </ng-template>
  }
</p-dialog>
<p-dialog
  position="top"
  [(visible)]="showModalImportItem"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '40rem' }"
  class="rounded-xl"
>
  <ng-template pTemplate="header">
    <div class="flex justify-between items-center w-full">
      <p-button icon="pi pi-times" [text]="true" (click)="showModalImportItem = false"></p-button>
    </div>
  </ng-template>
  <div class="grid grid-flow-col auto-cols-fr auto-rows-max gap-4 my-4">
    <div
      class="border-2 border-dashed border-gray-300 rounded-xl p-10 text-center cursor-pointer">
      <i class="pi pi-file-excel text-4xl text-gray-500"></i>
      <p class="text-2xl font-semibold">Tovarlar importi</p>
      <p class="text-gray-600 text-sm mb-4">MS Excel xujjati orqali tovarlarni bir zumda yuklab oling</p>

      <p-fileupload
        #fu
        chooseLabel="Мс Excel xujjatini tanlang"
        uploadLabel="Yuklash"
        cancelLabel="Tozalash"
        name="demo[]"
        customUpload="true"
        mode="advanced"
        chooseIcon="pi pi-excel"
        accept=".xlsx"
        maxFileSize="1000000"
        (uploadHandler)="onSaveFromExcel($event)"
      >
        <ng-template #empty>
          <div>
            Excel tanlanmagan
            <p-button icon="pi pi-download" label="MS Excel namunasi"
                      (click)="downloadExcel($event, 'tovarlar_namuna.xlsx', 'assets')"
                      severity="success" rounded/>
          </div>
        </ng-template>
      </p-fileupload>
      @if (loading) {
        <div class="loading-container">
          <p-progress-bar [value]="progress" class="progress-spinner"></p-progress-bar>
        </div>
      }
    </div>
  </div>
</p-dialog>
<p-dialog
  #errorListDialog
  header="Хатоликлар"
  [resizable]="true"
  [modal]="true"
  appendTo="body"
  [(visible)]="dialogVisibleXlsxErrors"
  [style]="{ width: '40vw' }"
  [contentStyle]="{ height: '500px' }"
>
  <div class="w-full flex-none px-3">
    @for (errorOne of errorResponse; track errorOne.lineNumber) {
      <h6 class="font-bold">
        Qator raqami: {{ errorOne.lineNumber }}:
      </h6>

      @for (errorColumns of errorOne.lineColumns; track errorColumns.field) {
        <p class="italic">
          <u class="text-red-600">{{ errorColumns.field }}</u>:
          {{ errorColumns.message }}
        </p>
      }
    }
  </div>
</p-dialog>
<p-dialog [(visible)]="exciseCodeModal" [modal]="true" header="Aksiz kodni tasdiqlang">
  <div class="p-4">
    <textarea pInputText [(ngModel)]="exciseCodeValue" rows="5" class="w-full"></textarea>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Saqlash" (click)="saveExciseCode()"></p-button>
  </ng-template>
</p-dialog>


<app-actionbar
  [bottomBarVisible]="bottomBarVisible"
  [infoTemplate]="info"
  [actionsTemplate]="actionSlot"
></app-actionbar>
<ng-template #info>
  <span class="font-bold">{{ itemSelectedModel.length }} ta tanlangan tovar</span>
  <p-button class="px-4" (onClick)="itemSelectedModel = []; onTableSelectionChange(itemSelectedModel)" severity="info"
            label="tanlashni bekor qilish" [text]="true"></p-button>
</ng-template>
<ng-template #actionSlot>
  <p-menu #menu [model]="getGroupAction()" [popup]="true" appendTo="body" styleClass="rounded-lg shadow-xl">
    <ng-template pTemplate="item" let-item>
      <a
        pRipple
        class="flex items-center px-3 p-4 min-w-[250px] rounded-md transition-colors duration-150 cursor-pointer"
        [ngClass]="item.styleClass"
        (click)="item.command?.($event)"
      >
        <i [class]="item.icon + ' mr-2'"></i>
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
  </p-menu>
  <p-button
    (click)="toggleMenu($event, menu)"
    label="Amallar"
    [icon]="menuVisible ? 'pi pi-chevron-down' : 'pi pi-chevron-up'"
    iconPos="right"
    severity="secondary"
    class="rounded-md"
  ></p-button>
</ng-template>

<app-barcode-scanner
  (scanned)="onBarcode($event)"
  (scannerStatus)="onScannerStatus($event)">
</app-barcode-scanner>

