.right-menu {
  display: flex;
  justify-content: end;
  position: relative;
}

.right-menu-panel ul[role='menu'].p-menubar-root-list {
  width: fit-content;
  /* left: -173%; */
  position: absolute;
  left: auto;
  right: 0;
  top: 102%;
}

.p-button .custom-button {
  width: 200px !important;
}

.custom-button {
  width: 250px;
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
}

pi pi-circle-fill.p-listbox .p-highlight {
  background-color: #4068df !important;
  color: white !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;

}

pi pi-circle-fill.p-listbox .p-highlight:hover {
  background-color: #4068df !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) !important;
}

.p-listbox {
  background-color: #f5f5f5;
  border: 0 !important;
}
